#aaa {
    /* margin: 2vw 6vh; */
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}
body {
    text-align: center;
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: #29c8f8;
    box-shadow: -13px 10px 13px red;
}

.sticky {
    background-color:#29c8f8;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.sticky-shadow {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}


header div {
    margin: 13px 6px;
    font-family: 'Oswald', sans-serif;
}

header div a {
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: medium;
    padding: 1vh 3vh;
    /* position: relative; */
    background-color: #ff9900;
}
header div a:hover{
    text-decoration: none;
    color: white;
}

 /* header div a::before{
    content: '';
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: aquamarine;
    transform: scaleX(0);
    z-index: -1;
    transition: transform 0.3s ease;
    transform-origin: right;
}

header div a:hover::before{
    text-decoration: none;
    transform: scaleX(1);
    transform-origin: left;
}  */


/* .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
} */

#profileimg {
    /* position: absolute; */
    /* top: 23vh; */
    /* left: 58vw; */
    width: 50vh;
    height: 50vh;
    border-radius: 200px;
    border: 10px double black;
    box-shadow: 15px 20px 20px greenyellow;
}

.splashImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #04145c;
    background-image: url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30436.jpg?w=740&t=st=1686375889~exp=1686376489~hmac=aa14ddc019a222b193cc8a3eb508e69c18036212827cfb414cc73fc995f1a0d3");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#hiImg{
    width: 60vw;
    height: 80vh;
}
.waviy {
    position: relative;
    font-size: 60px;
}

#textfront {
    /* color: white;*/
    font-size: 8vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 6px 5px #FF0000;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}


@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}

/* #userinfo div{
    margin: 10%;
    margin-bottom: 0;
} */
.Ilist{
    margin: 10px 0px
}

.textArea {
    text-align: center;
    /* padding: 4vw; */
    font-family: 'Teko', sans-serif;
}

.textArea h2 {
    margin-top: 44px;
    font-size: 90px;
}

.textArea h1 {
    font-size: 86px

}

.textArea h3 {
    font-size: 34px;

}

.textArea ul {
    list-style: none;
}

.socialIcon  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Ilist span{
    font-size: 30px;
}
.Ilist:hover {
    transform: translateY(-23px);
}
.Ilist i{
    opacity: 1;
    transition: opacity 0.3s ease;
}
.Ilist span{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.Ilist:hover span{
    opacity: 1;
    text-decoration: none;
    color: black;
}
.Ilist:hover i{
    opacity: 0;
}
.socialIcon a{
    margin: 2vh 4vh;
}
.socialIcon a i{
    font-size: xxx-large;
    /* margin: 8px 10px; */
    /* padding: -28px; */
    color: black;
    
}

/* .socialIcon a i:hover{
    border-radius: 69px;
    box-shadow: 10px 12px 20px black;
} */

/* .socialIcon ul li {
    margin: 2vh 2vw 0vh 0vw;
    text-align: left;
    font-size: xx-large;
} */




.projectArea {
    display: flex;
    font-size: 4vh;
    padding: 0%;
    border: 1px solid;
}

/* .projectArea ul li{
    margin: 2vh 2vw 0vh 0vw;
    text-align: left;
 } */
.repo {
    margin: 10px;
    background-color: #1162f8;
    padding: 2px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-size: x-large;
}    

.repo:hover{
    text-decoration: none;
    color: white;
    box-shadow: 30px 20px 50px black;
}

#projectArea{
    display: flex;
    flex-wrap: wrap;
}

/* .projectArea ul li a{
    text-decoration: none;
    background-color: #31103f;
    color: white;
    width:130%;
    padding: 0.5vh 1vw;
    
 } */
.skillList ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 4vh;
    margin: 0;
    padding: 0%;
}

.skillList ul li {
    list-style: none;
    margin: 2vh 2vw 0vh 0vw;
    text-align: left;
    background-color: #f52b90;
    color: white;
    font-size: x-large;
    padding: 0.5vh 1vw;
}

.label {
    font-family: 'Fjalla One', sans-serif;
    font-size: xx-large;
    margin: 5vh 0vw 3vw 1vh;
}

.hidden {
    transition: 0.5s;
    display: none;
}

.contactDetails ul li{
    list-style: none;
    font-size: x-large;
}
.educationalDetails{
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

 #EducationCard {
    border-radius: 20px;
    font-size: large;
    border: 1px solid;
    margin: 5px;
    padding: 28px 1px;
    box-shadow: 4px 10px 50px;
} 
#EducationCard div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}
#EduInfo{
    display: flex;
 width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#certification{
    display: flex;
    flex-wrap: wrap;
    margin: 0vw 0vh;
    justify-content: center;
}


#certificationCard{
    border-radius: 30px;
    /* border: 1px solid; */
    position: relative;
    padding: 22px 20px;
    margin: 7px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 10px;
    background-color: #b7dce7e5; */
}

#certificationCard:hover{
    box-shadow: 5px 5px 10px;
    background-color: #b7dce7e5;
    
}
#certificationCard div{
    visibility: hidden;
    opacity: 0;
    margin: 11px;
    padding: 0px;
}
#certificationCard:hover div{
  visibility: visible;
  opacity: 1;
}
#CertificationImage{
    margin-top: 2px; 
    width: 300px;
    height: 300px;
    border: 6.5px double black;
}
#certificationCard h4{
    font-size: larger;
    margin-top: 10px;
    font-family: serif;
}

#viewCertificate{
    font-size: larger;
    font-family: emoji;
    padding: 7px 22px;
    background: pink;
    text-decoration: none;
    /* width: 100%; */
    border-radius: 45%;
    border: 2px solid;
    color: black;
}
/* #viewCertificate:hover{
    box-shadow: 5px 5px 10px red;
} */
#EducationCard {
    display: flex;
    width: 100%;
    margin: 18px 0px;
    justify-content: center;
    align-items: center;
}
#schoolLogo{
    margin: 11px;
    width: 147px;
    height: 150px;
    border: 1px solid;
    border-radius: 76px;
    box-shadow: 10px 1px 14px;
}
footer{
    background-color: #425ccf;
    color: black;
}
#footerInfo{
    display: flex;
    justify-content: space-around;
}
.footerContactInfo ul li{
    list-style: none;
}
#footerHead{
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerSocial{
    display: flex;
}
.footerIcon{
    color: black;
    font-size: xx-large;
    margin: 10px;
}
.userInfo{
    margin: 7px;
    font-size: small;
    padding: 6px;
    box-shadow: 5px 5px 5px;
}

  
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: rgb(17, 212, 212);
  }
