body {
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #29c8f8;
    box-shadow: 10px 5px 50px red;
    height: 15vh;
}

.sticky {
    background-color:#29c8f8;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.sticky-shadow {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}


header div {
    margin: 2vh;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
}

header div a {
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: x-large;
    padding: 3vh 3vh;
    background-color: #ff9900;

}


.container {
    display: flex;
    justify-content:center;
    align-items: start;
}

#profileimg {
    position: relative;
    top: 10vh;
    left: 0;
    width: 366px;
    height: 350px;
    border-radius: 200px;
    border: 10px double black;
    box-shadow: 15px 20px 20px greenyellow;
}

.splashImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #04145c;
    background-image: url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30436.jpg?w=740&t=st=1686375889~exp=1686376489~hmac=aa14ddc019a222b193cc8a3eb508e69c18036212827cfb414cc73fc995f1a0d3");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#hiImg{
    width: 60vw;
    height: 80vh;
}
.waviy {
    position: relative;
    font-size: 60px;
}

#textfront {
    /* color: white;*/
    font-size: 8vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 6px 5px #FF0000;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}


@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}


.textArea {
    padding: 4vw;
    font-family: 'Teko', sans-serif;
}

.textArea h2 {
    font-size: 7vh;
    margin: 0;
}

.textArea h1 {
    font-size: 10vh;
    margin: 0;
    font-weight: 500;
}

.textArea h3 {
    font-size: 5vh;
    margin: 0;
}

.textArea ul {
    list-style: none;
}

.socialIcon ul {
    display: flex;
    font-size: 4vh;
    margin: 0;
    padding: 0%;
}

.socialIcon ul li {
    margin: 2vh 2vw 0vh 0vw;
    text-align: left;
}

.projectArea {
    margin-top:20px
    display: flex;
    flex-wrap:wrap;
    font-size: 4vh;
    padding: 0%;
    border: 1px solid;
}

/* .projectArea ul li{
    margin: 2vh 2vw 0vh 0vw;
    text-align: left;
 } */
.repo {
    margin: 10px;
    background-color: #1162f8;
    padding: 2px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 30px 20px 50px black;
    padding: 10px;
    font-size: x-large;
}

/* .projectArea ul li a{
    text-decoration: none;
    background-color: #31103f;
    color: white;
    width:130%;
    padding: 0.5vh 1vw;
    
 } */
.skillList ul {
    display: flex;
    font-size: 4vh;
    margin: 0;
    padding: 0%;
}

.skillList ul li {
    margin: 2vh 2vw 0vh 0vw;
    text-align: left;
    background-color: #f52b90;
    color: white;
    width: 130%;
    padding: 0.5vh 1vw;
}

.label {
    font-family: 'Fjalla One', sans-serif;
    font-size: xx-large;
    margin: 5vh 0vw 3vw 1vh;
}

.hidden {
    transition: 0.5s;
    display: none;
}

.contactDetails ul li{
    font-size: x-large;
}
.educationalDetails{
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: large;
}

.educationalDetails div{
    border-radius: 20px;
    font-size: large;
    border: 1px solid;
    margin: 5px;
    padding: 5px 30px;
    box-shadow: 4px 10px 50px;
}
